# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio 2015
#*# 
.*.rej
*.rej
.*~ 
*~ 
.#* 
.DS_Store 
*.bak
*.class
*.mine 
*.ncb
*.log
*.idb
*.pdb
*.ilk
*.msi*
.res
*.pch
*.suo 
*.exp
*.*~
*.~*
~*.*
cvs
CVS
.CVS
.cvs  
[Rr]elease
[Dd]ebug
[Ii]gnore
[Bb]in
[Oo]bj
[Tt]humbs.db
*.csproj.user
*.user
*.generated.cs